
.accordion .inner {
	position:relative;
	overflow:hidden;
	font-size: 36px;
	border:solid #BBB;
	border-width:0 1px 1px;}
/*closed*/
#mainAccordion a.trigger {
	background-color:#FFF;
	padding-left: 7px;
	background-image:url('../images/tr_bg_repeat_x.png');
	background-repeat: repeat-x;
	border-right: 1px solid #BBB;
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	color: black;
	text-decoration: none;
	height: 29px;
}
/*opened*/
#mainAccordion a.trigger.open ,#mainAccordion tr.trTrigger.open a.trigger {
	background-image:url('../images/tr_bg_repeat_x_h.png');
}
/*hover*/
#mainAccordion h a.trigger:hover, #mainAccordion a:hover.trigger.open {
	background-image: url('../images/tr_bg_repeat_x_h.png');
}





#mainAccordion .chkPledgeWrapper{
	/*
	width: 70px;
	background: #CCC;
	height: 31px;
	*/
}
#mainAccordion .chkPledgeWrapper td{
	/*background-image: url('../images/pledge_bg.png');
	border: 1px solid #666;
	text-align: center;
	font-size: 14px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;*/
}
#mainAccordion a.chkPledge{
	background-color:#FFF;
	height: 29px;
	padding-right: 5px;
	padding-left: 5px;
	background-image:url('../images/pledge_bg.png');
	background-repeat: repeat-x;
	border: 1px solid #BBB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	color: red;
	text-decoration: none;
	width: 55px;
}
#mainAccordion a.chkPledge td {
	color: #666;
}
#mainAccordion a.chkPledge:hover td {
	color: #060;
}

#mainAccordion a.chkPledge:hover{

	background-image:url('../images/pledge_bg_h.png');
	color:#74B15B;
	border: 1px solid #74B15B;
	/*#5E9346*/
}

#mainAccordion a.chkPledgeSelected{
	background-image:url('../images/pledge_bg_h.png');
	color:#74B15B;
	border: 1px solid #74B15B;
}

#mainAccordion a.chkPledgeSelected td{
	color: #060;
}

#mainAccordion .trg {
	font-weight:bold;
	font: Arial, Helvetica, sans-serif; 
	font-size: 14px;
}

#mainAccordion .triggerWrapper {
	
	padding: 0px;
	margin: 0px;
	/*border-collapse: collapse;
	border-left: 1px slid #BBB;
	border-top: 1px solid #BBB;
	border-right: 1px solid #BBB;*/
}